@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:   "Poppins", sans-serif; 
 
}

.container{
    display: grid;
    grid-template-columns: 300px auto 230px;
    grid-template-rows: 50px auto 40px; /*this is size of rows which are total three. 100px for 1st row and auto is for middle and 100px is for last*/

    height: 100vh;
 
}

.box{
    background-color: #F0EDE6;  
}

.col3{
    grid-column: span 3;
}


/**** HEADER *****/
#header{
    background-color: #DEDAC1;
}
nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
}
.logo img{
    width: 40px;
    height: 50px;
    cursor: pointer;
}
nav ul{
    padding-bottom: 5px;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 0 35px; 
}
nav ul li a{
    text-decoration: none;
    color: #0D0C0C;
    font-weight: 400;
}
nav ul li a:hover{
  
    font-weight: 450;
    text-decoration: underline;
}

/**** NAV SIDE BAR *****/
#nav{
    background-color: #26231F;
    padding: 60px 40px;
    color: #F2F0EB;
}

#nav h1{
    font-size: 23px;
}
#nav a{
    color: #F2F0EB;
}
#nav a:hover{
    color: dodgerblue;
}
#nav li{
    margin-bottom: 10px;
    font-size: 15px;
}
.comments, .archive{
    margin-top: 50px;
}
/**** BLOG *****/
#blog{
  padding: 20px 30px;
}
h1{
    margin: 16px 0;
    font-weight: 600;
}
h3{
    margin: 8px 0;
    font-weight: 500;
}
p{
    font-size: 15px;
    margin: 16px 0;
    font-weight: 400;
    line-height: 1.75;
    text-align: justify;
}
.post img{
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

/**** Ads Cards*****/
#ads{
    padding: 15px 20px 15px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 230px;
    row-gap:15px;
    column-gap:5px;
}
.card{
 
    background-color:#DEDAC1;
    padding: 20px 10px 1px;
    text-align: center;

}
#ads img{
    width: 50px;
    height: 50px;
}
#ads h3{
    font-weight: 550;
    color: #26231F;
    margin-top: 5px;
    font-size: 17px;
}
#ads p{
    margin-top: -3px;
    font-size: 13px;
    text-align: center;
}

/**** Ads Cards*****/
#footer{
    background-color:#DEDAC1 ;
    color: #26231F;
    display: flex;
    align-items: center; 
    justify-content: center;
}


@media  screen and (max-width:768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto auto 50px;
        width: 100%;
    }
    .box{
         grid-column: span 1;
    }
    /**** Ads *****/
    #ads{
    padding: 10px 20px 25px 20px;
    row-gap:15px;
    column-gap:15px;
     }

}

@media  screen and (max-width: 600px) {
    
    /** HEADER ***/
    nav{
        margin-right: 13px;
    }
    .logo img{
        width: 40px;
        height: 42px;
    }
    nav ul{
        padding-bottom: 8px; 
    }
    nav ul li{
        padding: 0px 8px; 
    }
    nav ul li a{
        font-size: 12px;
    }
  
    /**** NAV SIDE BAR *****/
    #nav{
        display: none;
    }
    /**** BLOG *****/
  #blog{
    padding: 10px 15px;
  
  }
  h1{
      font-size: 22px;
      margin: 3px 0;
      font-weight: 600;
  }
  h3{
     font-size: 16px;
      margin: 2px 0;
      font-weight: 500;
  }
  p{
      font-size: 13px;
      margin: 10px 0;
      font-weight: 400;
      line-height: 1.75;
      text-align: justify;
  }
  .post img{
      max-width: 100%;
      height: auto;
      margin-top: 10px;
  }

  /**** Ads *****/
#ads{
    padding: 10px 15px 15px;
    grid-auto-rows: 190px;
 
}

}


    
